.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin: 0 -10px;
  padding-bottom: 20px;
}

.card {
  flex: 0 0 calc(100vw - 40px);
  scroll-snap-align: start;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.activeCard {
  transform: scale(1.05);
  z-index: 1;
}
